# This is Git's per-user configuration file.
[user]
	name = Przemysław Kusiak
	email = mail@allvpv.org

[core]
	editor = nvr --remote-wait-silent

[pull]
	rebase = true

[init]
	defaultBranch = master

[mergetool "nvim"]
	cmd = nvr -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
